@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Inter:400,700,800,900');

.poll text {
    font-family: Karla;
}

@keyframes svgload {
    0%   {margin-bottom: -200px; margin-top: 0px;}
    100% {margin-bottom: 0px; margin-top: 60px;}
  }

.poll {
    padding-left: 0;
    z-index: -1;
    position: relative;
    filter: none;
    animation: svgload 1s 1;
    margin-top: 60px;
}

.pollRow {
    position: relative;
    z-index: 2;
}

@keyframes barload {
    0%   {transform: translate(0px, 630px) scale(1, 0);}
    100% {transform: translate(0px, 0px) scale(1, 1);}
  }

.poll rect {
    animation: barload 1s 1;
}

@keyframes lineload {
    0%   {transform: translate(0px, 900px);}
    100% {transform: translate(0px, 0px);}
  }

.poll .benchmark {
    animation: lineload 1s 1;
}

.poll text {
    animation: lineload 1s 1;
}

.scatter {
    padding-left: 0;
    filter: none;
}

.scatterPoll:hover {
    stroke: black;
    stroke-width: 4px;
}

.trendline:hover {
    stroke-width: 6px;
}

svg text {
    font-family: Karla;
}

.dashProvs {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.dashFed {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 600px) {

    .dashProvs {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .dashFed {
        grid-template-columns: repeat(3, 1fr);
    }

}

.dashProvince {
    background-color: white;
    justify-self: stretch;
}

.dashProvinceTitle {
    font-family: Inter;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-top: -1rem;
}

.dashCanadaTitle {
    font-family: Inter;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-top: -2rem;
}