@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Inter:400,700,800,900');

.poll .numeric {
    font-family: Karla;
}

.poll {
    z-index: -1;
    animation: svgload 1s 1;
    margin-top: 60px;
    margin-bottom: 30px;
    display: block;
}

@keyframes svgload {
    0%   {margin-bottom: -337.5px; margin-top: 60px;}
    100% {margin-bottom: 30px; margin-top: 60px;}
}

.pollRow {
    position: relative;
    z-index: 2;
    width: fit-content;
    margin-left: 0;
}

@keyframes barload {
    0%   {transform: translate(0px, 630px) scale(1, 0);}
    100% {transform: translate(0px, 0px) scale(1, 1);}
  }

.poll rect {
    animation: barload 1s 1;
}

@keyframes lineload {
    0%   {transform: translate(0px, 900px);}
    100% {transform: translate(0px, 0px);}
  }

.poll .benchmark {
    animation: lineload 1s 1;
}

.poll text {
    animation: lineload 1s 1;
}

.scatter {
    padding-left: 0;
    filter: none;
}

.scatterPoll:hover {
    stroke: black;
    stroke-width: 4px;
}

.trendline {
    stroke-width: 4px;
}

svg text {
    font-family: Inter;
}

.dashProvs {
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: stretch;
    justify-content: stretch;
}

.dashFed {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@media (min-width: 800px) {
    .trendline:hover {
        stroke-width: 8px;
    }

    .wideChart svg path {
        stroke-width: 2.5px;
    }

    .pollInfo {
        width: 10rem;
    }
}

@media (min-width: 600px) {

    .poll {
        width: 600px;
    }

}

@media (max-width: 600px) {

    .siteTitle {
        font-size: 26pt;
        font-weight: 600;
    }

    .siteLogo {
        width: 64px;
        padding-right: 0.75rem;
    }

    .headerLink {
        font-size: 20pt;
    }

    @keyframes svgload {
        0%   {margin-bottom: -56.25%; margin-top: 60px;}
        100% {margin-bottom: 30px; margin-top: 60px;}
    }
}

@media (max-width: 800px) {

    .partyContainer {
        flex-direction: column;
    }

    .pollLink {
        column-gap: 0.75rem;
    }

    .dashProvs {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .dashFed {
        grid-template-columns: repeat(3, 1fr);
    }

    .trendline {
        stroke-width: 12px;
    }

    .scatterElection circle {
        r: 12px;
    }

    .scatterPoll circle {
        r: 12px;
    }

    .electionHalo {
        visibility: hidden;
    }

    .timeLabel {
        visibility: hidden;
    }

    .scoreTicks {
        visibility: hidden;
    }

    .wideChart svg path {
        stroke-width: 5px;
    }

    .credit {
        visibility: hidden;
    }

}

@media (max-width: 1000px) {

    header {
        position: relative;
    }

}

.dashProvince {
    width: 100%;
}

.dashProvince svg {
    display: block;
}

.dashProvinceTitle {
    font-family: Inter;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-top: -0.5rem;
}

.dashCanadaTitle {
    font-family: Inter;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-top: -2rem;
}

.wideChartTitle {
    font-family: Inter;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18pt;
    margin-top: -3%;
}

.credit {
    position: absolute;
    text-align: end;
    width: 100%;
    margin-top: -3.4rem;
    font-family: Inter;
    color: #b0b0b0;
}