@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    max-width: max(80%, 1200px);
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: Karla;
    font-size: 32pt;
    margin: 2rem 0;
    text-decoration: underline pink solid 6px;
}

h2 {
    text-align: center;
    font-family: Karla;
    font-size: 24pt;
    margin: 2rem 0;
    text-decoration: underline solid pink  4px;
}

h3 {
    text-align: center;
    font-family: Karla;
    margin: 2rem 0;
}

p {
    font-family: Roboto;
    margin: 1rem 0;
    font-size: larger;
}

.pollTable {
    width: 100vw;
}

.pollRow {
    display: flexbox;
    width: max(800px, 60%);
}

.pollRow a {
    text-decoration: none;
    color: black;
}

.entryContainer {
    display: flex;
    align-content: space-between;
    width: 60%;
}

.pollLink div {
    font-family: Karla;
    margin: 1rem 0;
    font-size: 18pt;
}

tr {  
    border: 12px solid black;
}

.pollLink {
    display: flex;
}

.pollInfo {
    padding: 0 1rem;
    width: 20%;
    text-align: center;
    padding-top: 1.75rem;
}

.pollLink .pollEntry {
    width: 3rem;
    height: 3rem;
    margin: 1rem 0.5rem;
    border: solid;
}

.pollLink .pollScore {
    text-align: center;
    margin-top: 0.5rem;
}

.pollLink .pollParty {
    font-size: 8pt;
    text-align: center;
    margin-top: -1.25rem;
}

td {
    font-family: Karla;
    width: 4rem;
    height: 4rem;
    text-align: center;
    vertical-align: middle;
}