@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    max-width: max(80%, 1200px);
    margin: 0 auto;
}

h1 {
    font-family: Karla;
    margin: 2rem 0;
}

h2 {
    font-family: Karla;
    margin: 2rem 0;
}

h3 {
    font-family: Karla;
    margin: 2rem 0;
}

p {
    font-family: Roboto;
    margin: 1rem 0;
    font-size: larger;
}

.pollLink div {
    font-family: Karla;
    margin: 1rem 0;
    font-size: 18pt;
}


tr {  
    border: 12px solid black;
}

.pollLink {
    width: max(800px, 60%);
    display: flex;
}

.pollInfo {
    display: inline-block;
    padding: 0 2rem;
}

.pollEntry {
    display: inline-block;
    padding: 0.5rem;
    margin: 1rem;
    justify-content: space-between;
}

td {
    font-family: Karla;
    width: 4rem;
    height: 4rem;
    text-align: center;
    vertical-align: middle;
}